<?xml version="1.0" encoding="utf-8"?>
<!-- This URDF was automatically created by SolidWorks to URDF Exporter! Originally created by Stephen Brawner (brawner@gmail.com) 
     Commit Version: 1.6.0-4-g7f85cfe  Build Version: 1.6.7995.38578
     For more information, please see http://wiki.ros.org/sw_urdf_exporter -->
<robot
  name="urdf_robot">
  <link
    name="base_link">
    <inertial>
      <origin
        xyz="-0.0018753 4.2862E-07 0.11305"
        rpy="0 0 0" />
      <mass
        value="13.126" />
      <inertia
        ixx="0.11904"
        ixy="-1.2736E-06"
        ixz="2.7628E-06"
        iyy="0.11855"
        iyz="-1.0357E-06"
        izz="0.22928" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://urdf_robot/meshes/base_link.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.77647 0.75686 0.73725 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://urdf_robot/meshes/base_link.STL" />
      </geometry>
    </collision>
  </link>
  <link
    name="base_scan">
    <inertial>
      <origin
        xyz="0.0057843 -0.00049512 -0.014438"
        rpy="0 0 0" />
      <mass
        value="0.14299" />
      <inertia
        ixx="4.6277E-05"
        ixy="8.5363E-07"
        ixz="-3.6218E-06"
        iyy="7.3475E-05"
        iyz="-2.0429E-07"
        izz="0.00010796" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://urdf_robot/meshes/base_scan.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.10196 0.10196 0.10196 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://urdf_robot/meshes/base_scan.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="base_scan"
    type="revolute">
    <origin
      xyz="0 -0.007 0.1336"
      rpy="3.1416 0 1.5708" />
    <parent
      link="base_link" />
    <child
      link="base_scan" />
    <axis
      xyz="0 0 -1" />
    <limit
      lower="0"
      upper="0"
      effort="0"
      velocity="0" />
  </joint>
</robot>